{
    "presets": [
        "env",
        "react",
        "es2015"
    ],
    "plugins": [
        ["transform-runtime", {
            "helpers": false,
            "polyfill": true,
            "regenerator": true,
            "moduleName": "babel-runtime"
          }],
        "transform-class-properties",
        "transform-object-rest-spread"
        
    ]
}