//colors
$dark-grey: #333333;
$grey:#666;
$blue: #00c3ff;
$dark-blue: #364051;
$off-white: #f7f7f7;

//Font size
$font-size-large: 1.8rem;
$font-size-medium: 1.4rem;
$font-size-small: 1rem;
// Spacing
$s-size: 1rem;
$m-size: 1.5rem;
$l-size: 2.3rem;
$xl-size: 3.2rem;
$desktop-breakpoint: 45rem;